data/LightStatus.csv
data/LightStatusjnk.csv
data/Lighton.txt
data/Lighton.txt
data/Lighton.txt
data/LightStatus.csv
data/LightStatus4.csv
src/__pycache__/get_file.cpython-39.pyc
src/__pycache__/lighttime.cpython-39.pyc
src/__pycache__/readline.cpython-39.pyc
src/__pycache__/totaltimeon.cpython-39.pyc
docs/aavso.sqlite
data/Lighton4.txt
data/Lighton.txt
data/LightStatus.csv
src/__pycache__/rdline.cpython-39.pyc
